<div class="dropdown ">
  <button class="btn btn-secondary dropdown-toggle my-custom-dropdown  btn-lg" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    
    <span class="float-start">{{ selectedFilter || 'Select your news' }}</span>
  </button>
  <ul class="dropdown-menu my-custom-dropdown" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item"  (click)="seleccionarOpcion('Angular')">Angular</a></li>
    <li><a class="dropdown-item"  (click)="seleccionarOpcion('Vue')">Vue</a></li>
    <li><a class="dropdown-item"  (click)="seleccionarOpcion('Javascript')">JavaScript</a></li>
  </ul>
</div>

<!-- Botón "Mis Favoritos" -->
<div class="button-container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" [class.active]="!showFavorites" [disabled]="!showFavorites"
      (click)="mostrarTodos()">Todos</button>
    <button type="button" class="btn btn-outline-primary" [class.active]="showFavorites" [disabled]="showFavorites"
      (click)="mostrarFavoritos()">Mis favoritos</button>
  </div>
</div>


<!--Seleccion de opcion-->
<div class="container">



  <div class="row">
    <div class="col-md-4">
      <div class=" mb-3">
        <div > 



          
<!--           <select class="form-select" aria-label="Default select example"
            (change)="seleccionarOpcion($event)">
            <option value="">Select your news:</option>
            <option value="angular">Angular</option>
            <option value="vue"> Vue</option>
            <option value="javascript"> JavaScript</option>
          </select> -->







        </div>
      </div>
    </div>
  </div>
</div>

<!--Lista de noticias-->
<div class="container my-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let news of news_list">
        <div class="card news-card mb-6">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <p class="card-text">
                <small class="text-muted">

                  <i class="bi bi-clock"></i> {{ news.created_at | date:'short' }} by {{ news.author }}
                </small>
              </p>
              <h5 class="card-title ">{{ news.story_title || 'NO TITLE' }}</h5>

            </div>
            <button class="btn btn-outline-danger like-button">
              <i class="bi bi-heart-fill"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>





  <!-- Paginación -->
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-secondary me-2" (click)="goToPage('prev')" [disabled]="currentPage < 1">Anterior</button>
      <span>Página {{ currentPage}} de {{totalPages-1}}</span>
      <button class="btn btn-secondary ms-2" (click)="goToPage('next')"
        [disabled]="currentPage >= totalPages-1">Siguiente</button>
    </div>
  </div>
</div>