.news-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.news-row:hover {
  opacity: 0.6;
}

button span.liked {
  color: red;
}

@media (max-width: 768px) {
  .news-row {
    flex-direction: column;
  }
}

.card {
  /* Estilos de la tarjeta */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  background-color: #f8f9fa; /* Color de fondo de las tarjetas */
  margin-bottom: 30px; /* Espacio adicional entre filas */
}

.active {
  background-color: #e9ecef;
  border-color: #dee2e6;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ajusta este valor según la alineación vertical deseada */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 30px; /* Espacio adicional entre filas */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ajusta este valor según la alineación vertical deseada */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 30px; /* Espacio adicional entre filas */
}
