.news-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.news-row:hover {
  opacity: 0.6;
}

button span.liked {
  color: red;
}

@media (max-width: 768px) {
  .news-row {
    flex-direction: column;
  }
}

.card {
  /* Estilos de la tarjeta */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  background-color: #f8f9fa;
  margin-bottom: 30px; 
   /* Tamanio de la carta verticalmente*/
  height: 80%;
}

.active {
  background-color: #e9ecef;
  border-color: #dee2e6;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ajusta este valor según la alineación vertical deseada */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 30px; /* Espacio adicional entre filas */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  margin-top: 20px; 
  margin-bottom: 30px; 
}

.my-custom-dropdown {
  min-width: 210px; 

  
}

#mySelect option:first-child {
  display: none;
}

.form-select{
  width: 100%;
  padding: 10px;
  margin: 10px 0;

  margin-left: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-button-heart {
  /* se le aumenta el tamanio AL BOTON/
  /* SE LE AUMENTA EL TAMANIO DIFERENTE EN X Y EN Y*/
  transform: scale(1.6,1.6);

}

.card {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.clickable-area {
  width: 80%;
  cursor: pointer;
}
.button-area {
  width: 25%;
}